@import "tailwindcss";

@theme {
  --color-primary: #fafafa;
  --color-secondary: #ededed;
  --color-text: #000000;

  --font-default: var(--font-custom);
}

:root {
  --background: #fafafa;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-custom), sans-serif;
  overflow-x: hidden;
}

/* Custom Utilities */
@utility container-padding {
  padding: 0 8%;
}

@utility section-padding {
  padding: 8% 8%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
